---
export const prerender = true

import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import ForWho from '../components/ForWho.astro'
import Services from '../components/Services.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <ForWho />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>
